    /* #left
    {
        float: left;
    } */
    #right
    {
        padding-top:10px;
        padding-right: 50px;
        float: right;
    }
    .paddingPoint
    {
        clear: both;
        visibility: hidden;
    }
    #userInfo
    {
        display:none;
    }