<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     <span>userName: </span> {{user.get("userName")}}<br/>
     <span>SystemID: </span>{{user.get("id")}}<br/>
     <span>充币地址: </span>{{user.get("address")}}<br/>
     <span>电力余额: </span>{{user.get("balance")}}<br/>
     <span>elec币余额: </span>{{user.get("coinBalance")}}<br/>
</body>
</html>